<form name="modalEditFileRepositoryForm" novalidate autocomplete="off">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">{{'EDIT_FILE_REPOSITORY' | translate}}</h3>
    </div>
    <div class="modal-body">

        <uib-tabset>
            <uib-tab heading="{{'CONFIG' | translate}}">
                <div ng-if="read">
                    <br>

                    <div class="form-group" ng-class="{true: 'has-error'}[submitted && modalEditFileRepositoryForm.title.$invalid]">
                        <input type="text" name="title" class="form-control" id="folderName" placeholder="{{'TITLE' | translate}}" ng-model="file_repository.title" required autofocus>
                        <p class="help-block" ng-show="submitted && modalEditFileRepositoryForm.title.$error.required">{{'TITLE_IS_REQUIRED' | translate}}</p>
                    </div>

                    <div class="form-group">
                        <select class="form-control" ng-model="file_repository.type">
                            <option ng-repeat="x in types" value="{{x.value}}">{{x.title}}</option>
                        </select>
                    </div>


                    <div ng-if="file_repository.type === 'gcp_cloud_storage'">
                        <div class="form-group">
                            <input type="text" name="gcp_cloud_storage_bucket" class="form-control" id="gcp_cloud_storage_bucket" placeholder="{{'BUCKET' | translate}}" ng-model="file_repository.gcp_cloud_storage_bucket">
                        </div>

                        <div class="form-group">
                            <textarea class="form-control"
                                      placeholder="{{'JSON_KEY' | translate}}"
                                      ng-model="file_repository.gcp_cloud_storage_json_key"></textarea>

                        </div>
                    </div>

                    <div ng-if="file_repository.type === 'aws_s3'">
                        <div class="form-group">
                            <input type="text" name="aws_s3_bucket" class="form-control" id="aws_s3_bucket" placeholder="{{'BUCKET' | translate}}" ng-model="file_repository.aws_s3_bucket">
                        </div>
                        <div class="form-group">
                            <input type="text" name="aws_s3_region" class="form-control" id="aws_s3_region" placeholder="{{'REGION' | translate}}" ng-model="file_repository.aws_s3_region">
                        </div>
                        <div class="form-group">
                            <input type="text" name="aws_s3_access_key_id" class="form-control" id="aws_s3_access_key_id" placeholder="{{'ACCESS_KEY_ID' | translate}}" ng-model="file_repository.aws_s3_access_key_id">
                        </div>
                        <div class="form-group">
                            <input type="text" name="aws_s3_secret_access_key" class="form-control" id="aws_s3_secret_access_key" placeholder="{{'SECRET_ACCESS_KEY' | translate}}" ng-model="file_repository.aws_s3_secret_access_key">
                        </div>
                    </div>


                    <div ng-if="file_repository.type === 'do_spaces'">
                        <div class="form-group">
                            <input type="text" name="do_space" class="form-control" id="do_space" placeholder="{{'SPACE' | translate}}" ng-model="file_repository.do_space">
                        </div>
                        <div class="form-group">
                            <input type="text" name="do_region" class="form-control" id="do_region" placeholder="{{'REGION' | translate}}" ng-model="file_repository.do_region">
                        </div>
                        <div class="form-group">
                            <input type="text" name="do_key" class="form-control" id="do_key" placeholder="{{'KEY' | translate}}" ng-model="file_repository.do_key">
                        </div>
                        <div class="form-group">
                            <input type="text" name="do_secret" class="form-control" id="do_secret" placeholder="{{'SECRET' | translate}}" ng-model="file_repository.do_secret">
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="checkbox" ng-model="file_repository.active">
                        {{'ACTIVE' | translate}}
                    </div>

                    <div class="form-group alert alert-danger" ng-repeat="e in errors">
                        <strong>{{'ERROR' | translate}}:</strong> <span translate="{{ e  | translate}}"></span>
                    </div>
                </div>
                <div ng-if="!read">
                    <div class="form-group">
                        <div class="alert alert-info">
                            <strong>{{'INFO' | translate}}!</strong> {{'INFO_NO_READ_RIGHTS_FOR_FILE_REPOSITORY_RIGHT' | translate}}
                        </div>
                    </div>
                </div>

            </uib-tab>
            <uib-tab heading="{{'ACCESS_RIGHTS' | translate}}">
                <div ng-if="grant">
                    <br>
                    <button type="submit" class="btn btn-primary btn-primary pull-right" ng-click="create_file_repository_right()"><i class="fa fa-plus"></i> {{'ADD_RIGHT' | translate}}</button>
                    <div class='clearfix'></div>

                    <table datatable="ng" class="row-border hover" dt-options="dtOptions" dt-column-defs="dtColumnDefs">
                        <thead>
                        <tr>
                            <th>{{'USER' | translate}}</th>
                            <th>{{'READ' | translate}}</th>
                            <th>{{'WRITE' | translate}}</th>
                            <th>{{'GRANT' | translate}}</th>
                            <th>{{'ACCEPTED' | translate}}</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="file_repository_right in file_repository.file_repository_rights">
                            <td>{{file_repository_right.user_username | limitTo: 15 }}{{file_repository_right.user_username.length > 15 ? '...' : ''}}</td>
                            <td>
                                <button type="button" class="btn btn-default btn-sm" ng-click="toggle_read(file_repository_right)" ng-disabled="!grant || file_repository_right.own_user">
                                    <i ng-if="file_repository_right.read" class="fa fa-check" aria-hidden="true"><span style="display: none">1</span></i>
                                    <i ng-if="!file_repository_right.read" class="fa fa-ban" aria-hidden="true"><span style="display: none">0</span></i>
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default btn-sm" ng-click="toggle_write(file_repository_right)" ng-disabled="!grant || file_repository_right.own_user">
                                    <i ng-if="file_repository_right.write" class="fa fa-check" aria-hidden="true"><span style="display: none">1</span></i>
                                    <i ng-if="!file_repository_right.write" class="fa fa-ban" aria-hidden="true"><span style="display: none">0</span></i>
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default btn-sm" ng-click="toggle_grant(file_repository_right)" ng-disabled="!grant || file_repository_right.own_user">
                                    <i ng-if="file_repository_right.grant" class="fa fa-check" aria-hidden="true"><span style="display: none">1</span></i>
                                    <i ng-if="!file_repository_right.grant" class="fa fa-ban" aria-hidden="true"><span style="display: none">0</span></i>
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default btn-sm" disabled>
                                    <i ng-if="file_repository_right.accepted" class="fa fa-check" aria-hidden="true"><span style="display: none">1</span></i>
                                    <i ng-if="!file_repository_right.accepted" class="fa fa-ban" aria-hidden="true"><span style="display: none">0</span></i>
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default btn-sm" ng-click="delete_file_repository_right(file_repository_right)" ng-disabled="!grant" alt="{{'DELETE' | translate}}">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-if="!grant">
                    <div class="form-group">
                        <div class="alert alert-info">
                            <strong>{{'INFO' | translate}}!</strong> {{'INFO_NO_GRANT_RIGHTS_FOR_FILE_REPOSITORY_RIGHT' | translate}}
                        </div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>

    </div>

    <div class="modal-footer">
        <button class="btn" type="button" ng-click="cancel();">{{'CLOSE' | translate}}</button>
        <button class="btn btn-primary" type="submit" ng-click="submitted=true;save()" ng-if="write">{{'SAVE' | translate}}</button>
    </div>
</form>