<div class="container-fluid">
    <div class="navi row">
        <div class="location col-sm-8">
            <!--
            <span> <a href="#!/share/pendingshares">/share/pendingshares</a> </span>
            -->
        </div>
        <div class="title col-sm-4">
            <h1>{{'SECURITY_REPORT' | translate}}</h1>
        </div>
    </div>

    <div class="panel panel-default" ng-if="state.report_complete">
        <div class="panel-heading clearfix">
            <h3 class="panel-title">{{'SECURITY_REPORT' | translate}}</h3>
        </div>
        <div class="panel-body in" aria-expanded="true" aria-hidden="false" style="height: auto;">

            <div class="alert alert-warning" ng-if="!analysis.user_summary.multifactor_auth_enabled">
                <strong>{{'WARNING' | translate}}!</strong> {{'CONSIDER_ENABLING_MULTIFACTOR_AUTHENTICATION' | translate}}
            </div>

            <div class="alert alert-warning" ng-if="!analysis.user_summary.recovery_code_enabled">
                <strong>{{'WARNING' | translate}}!</strong> {{'CONSIDER_ENABLING_RECOVERY_CODES' | translate}}
            </div>

            <div class="alert alert-danger" ng-repeat="e in errors">
                <strong>{{'ERROR' | translate}}:</strong> <span translate="{{ e }}"></span>
            </div>

            <div class="row">
                <div class="col-xs-3">
                    <h5>{{'PASSWORD_STRENGTH' | translate}}</h5>
                    <canvas id="doughnut_password_strength" class="chart chart-doughnut"
                            chart-colors="password_strength_colors"
                            chart-data="password_strength_data"
                            chart-labels="password_strength_labels">
                    </canvas>
                    <p class="text-center" ng-if="analysis.password_summary.weak">{{ analysis.password_summary.weak }} {{'WEAK_PASSWORDS' | translate}}</p>
                    <p class="text-center" ng-if="!analysis.password_summary.weak">{{'NO_WEAK_PASSWORDS' | translate}}</p>
                </div>
                <div class="col-xs-3">
                    <h5>{{'DUPLICATES' | translate}}</h5>
                    <canvas id="doughnut_duplicate" class="chart chart-doughnut"
                            chart-colors="duplicate_colors"
                            chart-data="duplicate_data"
                            chart-labels="duplicate_labels">
                    </canvas>
                    <p class="text-center" ng-if="analysis.password_summary.duplicate">{{ analysis.password_summary.duplicate }} {{'DUPLICATES' | translate}}</p>
                    <p class="text-center" ng-if="!analysis.password_summary.duplicate">{{'NO_DUPLICATES' | translate}}</p>
                </div>
                <div class="col-xs-3">
                    <h5>{{'AVERAGE_SCORE' | translate}}</h5>
                    <canvas id="doughnut_average_score" class="chart chart-doughnut"
                            chart-colors="average_score_colors"
                            chart-data="average_score_data"
                            chart-labels="average_score_labels">
                    </canvas>
                    <p class="text-center">{{ analysis.password_summary.average_rating }}% {{'SCORE' | translate}}</p>
                </div>
                <div class="col-xs-3">
                    <h5>{{'PASSWORD_AGE' | translate}}</h5>
                    <canvas id="doughnut_password_update_age" class="chart chart-doughnut"
                            chart-colors="password_update_age_colors"
                            chart-data="password_update_age_data"
                            chart-labels="password_update_age_labels">
                    </canvas>
                    <p class="text-center">{{ analysis.password_summary.average_update_age }} {{'DAYS' | translate}}</p>
                </div>
            </div>

            <table datatable="ng" class="row-border hover" dt-options="dtOptions" dt-column-defs="dtColumnDefs">
                <thead>
                <tr>
                    <th>{{'NAME' | translate}}</th>
                    <th>{{'PASSWORD' | translate}}</th>
                    <th>{{'RATING' | translate}}</th>
                    <th>{{'AGE' | translate}}</th>
                    <th ng-if="check_haveibeenpwned">{{'BREACHED' | translate}}</th>
                    <th>{{'DUPLICATE' | translate}}</th>
                    <th>{{'ADVISE' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="pw in analysis.passwords">
                    <td>{{ pw.name }}</td>
                    <td>
                        <div class="input-group">
                            <input type="{{pw.input_type}}" name="password" class="form-control"
                                   ng-model="pw.password" >
                            <div class="input-group-btn" uib-dropdown is-open="status.isopen">
                                <button id="single-button" type="button" class="btn btn-primary"
                                        ng-click="toggle_input_type(pw)">
                                    <i class="fa fa-eye-slash"></i>
                                </button>
                            </div>
                        </div>
                    </td>
                    <td>{{ pw.rating }}</td>
                    <td>{{ pw.write_age }} {{'DAYS' | translate}}</td>
                    <td ng-if="check_haveibeenpwned">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true" ng-if="pw.breached"></i>
                        <span style="display: none" ng-if="!pw.breached">0</span>
                        <span style="display: none" ng-if="pw.breached">1</span>
                    </td>
                    <td>
                        <i class="fa fa-exclamation-triangle" aria-hidden="true" ng-if="pw.duplicate"></i>
                        <span style="display: none" ng-if="!pw.duplicate">0</span>
                        <span style="display: none" ng-if="pw.duplicate">1</span>
                    </td>
                    <!--<td>{{ pw.advise | translate:pw }}</td>-->
                    <td translate="{{ pw.advise }}" translate-values='pw'></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="panel panel-default" ng-if="!state.report_complete">
        <div class="panel-heading clearfix">
            <h3 class="panel-title">{{'GENERATE_SECURITY_REPORT' | translate}}</h3>
        </div>
        <div class="panel-body in" aria-expanded="true" aria-hidden="false" style="height: auto;">

            <div class="alert alert-info">
                <strong>{{'INFO' | translate}}!</strong> {{'SECURITY_REPORT_GOAL' | translate}}
            </div>
            <form class="form-horizontal" autocomplete="off">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="password">
                        {{'YOUR_PASSWORD' | translate}}
                    </label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="password" placeholder="{{'YOUR_PASSWORD' | translate}}"
                               ng-model="state.password">
                    </div>
                </div>
                <div class="form-group" ng-if="state.password">
                    <label class="control-label col-sm-2" for="password_repeat">
                        {{'PASSWORD_REPEAT' | translate}}
                    </label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="password_repeat" placeholder="{{'PASSWORD_REPEAT' | translate}}"
                               ng-model="state.password_repeat">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="checkbox" ng-model="check_haveibeenpwned">
                        {{'CHECK_AGAINST' | translate}} <a href="https://haveibeenpwned.com/Passwords" target="_blank" rel="noopener">haveibeenpwned.com</a> (<a href="https://haveibeenpwned.com/API/v2#SearchingPwnedPasswordsByRange" target="_blank" rel="noopener">/range API</a>)?
                    </div>
                </div>
                <div class="form-group" ng-if="!hide_send_to_server">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="checkbox" ng-model="state.send_to_server" ng-disabled="disable_send_to_sever_choice">
                        {{'SEND_SECURITY_REPORT_TO_SERVER' | translate}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary btn-primary" ng-click="generate_security_report(state.password, state.password_repeat, check_haveibeenpwned, state.send_to_server)">{{'START_ANALYSIS' | translate}}</button>
                    </div>
                </div>

                <div class="alert alert-danger" ng-repeat="e in errors">
                    <strong>{{'ERROR' | translate}}:</strong> <span translate="{{ e }}"></span>
                </div>

                <div class="alert alert-info" ng-repeat="e in msgs">
                    <strong>{{'ERROR' | translate}}:</strong> <span translate="{{ e }}"></span>
                </div>

                <div ng-if="state.download_ongoing">
                    <strong>{{'DOWNLOADING_PASSWORDS' | translate}}:</strong>
                    <uib-progressbar max="state.open_secret_requests" value="state.closed_secret_request" ng-if="state.download_ongoing">
                        <span style="color:white; white-space:nowrap;">{{ state.closed_secret_request }} / {{ state.open_secret_requests }}</span>
                    </uib-progressbar>
                    <br>
                </div>

                <div ng-if="state.haveibeenpwned_ongoing">
                    <strong>{{'HAVEIBEENPWND_ANALYSIS' | translate}}:</strong>
                    <uib-progressbar max="state.open_haveibeenpwned_requests" value="state.closed_haveibeenpwned_requests" ng-if="state.haveibeenpwned_ongoing">
                        <span style="color:white; white-space:nowrap;">{{ state.closed_haveibeenpwned_requests }} / {{ state.open_haveibeenpwned_requests }}</span>
                    </uib-progressbar>
                    <br>
                </div>
            </form>
            <div class="alert alert-warning">
                <strong>{{'WARNING' | translate}}!</strong> {{'ANALYSIS_CAN_TAKE_SEVERAL_MINUTES' | translate}}
            </div>

        </div>
    </div>


</div>
